<div>
  <h3>These pets are looking for a home!</h3>
  <h3><a [routerLink]="['','new']">Add a pet to the shelter</a></h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let pet of pets">
      <tr *ngIf="pet.name">
        <td>{{pet.name}}</td>
        <td>{{pet.type}}</td>
        <td><button class="details" [routerLink]="['', pet._id]">Details</button> <button class="edit" [routerLink]="['', pet._id,'edit']">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>