table {
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
}
table, th, td {
    vertical-align: top;
}
th, td {
    padding: 10px 10px 0px 10px;
    line-height: 20px;
}
h4{
    font-weight: normal;
}